$color-primary: #6c013470;
$color-primary-light: #A15A89;
$color-primary-dark:#490013;

$color-secondary:#49219b;

$color-grey-light-1: #f3f4f6;
$color-grey-light-2: #e5e7eb;
$color-grey-light-3: #d1d5db;
$color-grey-dark-1: #6b7280;
$color-grey-dark-2: #4b5563;
$color-grey-dark-3: #374151;
$color-grey-dark-4: #1f2937;
$color-hover-1:#D0E7ED;
$color-hover-2:#B2CEE1;

$color-white:#fff;


// #520C45
// #621165
// #5F1678
// #571B8A
// #49219b
// #4C3DAA
// #595EB9
// #7689C7
// #94AFD4
// #B2CEE1
// #D0E7ED
